<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<h1>每日推荐</h1>
<div>日期：{{select.today.strftime('%Y-%m-%d')}}</div>
<h3>抄底候选</h3>
    <table>
        {% for item in select.getBuyLow() %}
            <tr>
                <td>{{item['stock'].split('.')[0]}}</td>
                <td>{{item['sel_info']}}</td>
            </tr>
        {% endfor %}
    </table>
<h3>追涨候选</h3>
    <table>
        {% for item in select.getBuyHigh() %}
            <tr>
                <td>{{item['stock'].split('.')[0]}}</td>
                <td>{{item['sel_info']}}</td>
            </tr>
        {% endfor %}
    </table>
<h3>打板候选</h3>
    <table>
        {% for item in select.getBuyStop() %}
            <tr>
                <td>{{item['stock'].split('.')[0]}}</td>
                <td>{{item['sel_info']}}</td>
            </tr>
        {% endfor %}
    </table>
<h3>选出观察池(5天)</h3>
<table>
    {% for item in select.getSelectPool() %}
        <tr>
            <td>{{item['stock'].split('.')[0]}}</td>
            <td>{{item['sel_time']}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}